version: 2
updates:
  - package-ecosystem: "cargo"
    assignees: ["Yamrc"]
    directory: "/"
    schedule:
      interval: "daily"
    pull-request-branch-name:
      separator: "-"
    groups:
      minor-updates:
        update-types:
          - "minor"
          - "patch"
      major-updates:
        update-types:
          - "major"
