[package]
name = "gpui-tray"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
license.workspace = true

[features]
default = []

[dependencies]
anyhow.workspace = true
gpui.workspace = true
